*.exe
*.obj
*.o
*.dSYM
benchmark
primes
tester
/build*
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
.DS_Store
.pio
.vscode/*
!.vscode/extensions.json
!.vscode/cmake-variants.json