*.exe
*.obj
*.o
*.dSYM
benchmark
primes
tester
/build!(.rs)
/.vscode
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake


#Added by cargo
#
#already existing elements are commented out

/target
**/*.rs.bk
Cargo.lock
