*.exe
*.obj
*.o
*.dSYM
benchmark
primes
tester
/build*
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
Make.dep
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
.DS_Store
.built
.depend
.pio
.vscode/*
!.vscode/extensions.json
!.vscode/cmake-variants.json