# Automated Windows and Linux testing using appveyor.com
# https://ci.appveyor.com/projects

version: '{branch}-{build}'

image:
- Ubuntu1804
- Visual Studio 2017
- Visual Studio 2019

platform:
  - x86
  - x64

for:
  - matrix:
      only:
        - image: Ubuntu1804
          platform: x86
    install:
      - sudo apt install --yes cppcheck
      - cppcheck . --error-exitcode=1 --force -i doc
    build_script:
      - cmake . -DCMAKE_BUILD_TYPE=Sanitize
      - make VERBOSE=1
    test_script:
      - ./tester
      - ./benchmark_branchfree
      - ./test_c99

  - matrix:
      only:
        - image: Ubuntu1804
          platform: x64
    install:
      - sudo apt install --yes cppcheck
      - cppcheck . --error-exitcode=1 --force -i doc
    build_script:
      - CC=clang CXX=clang++ cmake . -DCMAKE_BUILD_TYPE=Sanitize
      - make VERBOSE=1
    test_script:
      - ./tester
      - ./benchmark_branchfree
      - ./test_c99

  - matrix:
      only:
        - image: Visual Studio 2017
          platform: x86
    build_script:
      - cmake . -G "Visual Studio 15 2017"
      - cmake --build . --config Release
    test_script:
      - cd Release
      - tester.exe
      - benchmark_branchfree.exe
      - test_c99.exe

  - matrix:
      only:
        - image: Visual Studio 2017
          platform: x64
    build_script:
      - cmake . -G "Visual Studio 15 2017 Win64"
      - cmake --build . --config Debug
      - cmake --build . --config Release
    test_script:
      - cd Release
      - tester.exe
      - benchmark_branchfree.exe
      - test_c99.exe

  - matrix:
      only:
        - image: Visual Studio 2019
          platform: x86
    install:
      - cmd: '"C:/Program Files (x86)/Microsoft Visual Studio/Installer/vs_installer.exe" modify --quiet --installpath "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community" --channelid VisualStudio.16.Release --productid Microsoft.VisualStudio.Product.Community --add Microsoft.VisualStudio.Component.VC.ASAN'
    build_script:
      - cmake . -G "Visual Studio 16 2019"
      - cmake --build . --config Debug
      - cmake --build . --config Sanitize
    test_script:
      - cd Sanitize
      - tester.exe
      - benchmark_branchfree.exe
      - test_c99.exe

  - matrix:
      only:
        - image: Visual Studio 2019
          platform: x64
    install:
      - cmd: '"C:/Program Files (x86)/Microsoft Visual Studio/Installer/vs_installer.exe" modify --quiet --installpath "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community" --channelid VisualStudio.16.Release --productid Microsoft.VisualStudio.Product.Community --add Microsoft.VisualStudio.Component.VC.ASAN'
      - cmd: SET PATH=C:\Python39;C:\Python39\Scripts;%PATH%
      - cmd: pip install -U platformio
      - cmd: pio platform install atmelavr --with-package=tool-simavr
    build_script:
      - cmake . -G "Visual Studio 16 2019"
      - cmake --build . --config Debug
      - cmake --build . --config Sanitize
      - cd test/avr
      - ps: Get-Content -Path .\platformio.ini | Where-Object { $_.StartsWith("[env:") } | ForEach-Object { & pio run -e $_.SubString(5, $_.Length-6) }
      - cd ../..
    test_script:
      # Important check for AVR - static + inline
      - ps: Select-String -Path "libdivide.h" "static [^L]" -AllMatches | ForEach-Object { Write-Error ("Static but not line - " + $_) }
      - cd Sanitize
      - tester.exe
      - benchmark_branchfree.exe
      - test_c99.exe
      - cd ../test/avr
      - pio run -t Simulate -e megaatmega2560_Test
