# Automated Windows and Linux testing using appveyor.com
# https://ci.appveyor.com/projects

version: '{branch}-{build}'

image:
- Visual Studio 2015
- Visual Studio 2017
- Ubuntu

configuration:
  - Debug

platform:
  - x86
  - x64

for:
  - matrix:
      only:
        - image: Visual Studio 2015
          platform: x86
    environment:
      CFLAGS: "/DLIBDIVIDE_ASSERTIONS_ON"
      CXXFLAGS: "/DLIBDIVIDE_ASSERTIONS_ON"
    build_script:
      - cmake . -G "Visual Studio 14 2015"
      - cmake --build . --config Release

  - matrix:
      only:
        - image: Visual Studio 2015
          platform: x64
    environment:
      CFLAGS: "/W3 /WX /DLIBDIVIDE_ASSERTIONS_ON"
      CXXFLAGS: "/W3 /WX /DLIBDIVIDE_ASSERTIONS_ON"
    build_script:
      - cmake . -G "Visual Studio 14 2015 Win64"
      - cmake --build . --config Release

  - matrix:
      only:
        - image: Visual Studio 2017
          platform: x86
    environment:
      CFLAGS: "/DLIBDIVIDE_ASSERTIONS_ON"
      CXXFLAGS: "/DLIBDIVIDE_ASSERTIONS_ON"
    build_script:
      - cmake . -G "Visual Studio 15 2017"
      - cmake --build . --config Release

  - matrix:
      only:
        - image: Visual Studio 2017
          platform: x64
    environment:
      CFLAGS: "/W3 /WX /DLIBDIVIDE_ASSERTIONS_ON"
      CXXFLAGS: "/W3 /WX /DLIBDIVIDE_ASSERTIONS_ON"
    build_script:
      - cmake . -G "Visual Studio 15 2017 Win64"
      - cmake --build . --config Release

  - matrix:
      only:
        - image: Ubuntu
    environment:
      CFLAGS: "-Wall -Wextra -pedantic"
      CXXFLAGS: "-Wall -Wextra -pedantic"
    build_script:
      - cmake .
      - make VERBOSE=1

test_script:
  # Windows
  - cmd: cd Release
  - cmd: tester.exe
  - cmd: benchmark_branchfree.exe
  # Linux
  - sh: ./tester
  - sh: ./benchmark_branchfree
