# Automated Windows (MSVC++) testing using appveyor.com
# https://ci.appveyor.com/projects

version: 1.0.{build}

branches:
  only:
  - master

platform:
  - x86
  - x64

configuration:
  - Debug

before_build:
  "\"C:\\Program Files\\Microsoft SDKs\\Windows\\v7.1\\Bin\\SetEnv.cmd\" /%platform%"

build_script:
  - cl /nologo /W4 /O2 /EHsc libdivide_test.cpp

test_script:
  - libdivide_test.exe
